body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUK7Jz8hctRr5qLJ7xsVvfp4zB2M1Yc5YM1g&usqp=CAU');
}

.container {
    text-align: center;
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 200px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    height: 20px;
}

button {
    padding: 8px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
}
#title{
    padding: 20px;
}
